<nav class="navbar navbar-default sidebar" ng-if="hasSidebar()">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-repeat="link in sidebar.links" ng-class="{ dropdown: link.links.length > 0 }">
					<a ng-if="link.childLinks === null || link.childLinks.length === 0" href="{{link.url}}">
						{{link.name}}
						<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
					</a>
					<a ng-if="link.childLinks.length > 0" href="#" class="dropdown-toggle" data-toggle="dropdown">{{link.name}}<span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li ng-repeat="childLink in link.childLinks">
							<a href="{{childLink.url}}">{{childLink.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
